<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height:1.6; color:#222; max-width: 600px;">

<h1>Olá, Matheus, você recebeu um e-mail de {{name}}, {{email}}</h1>

<p>
  {{message}}
</p>

<footer>
  <span>Nome: {{name}}</span> <br/>
  <span>E-mail: {{email}}</span> <br/>
</footer>
</div>

